.outer{
  height: 80vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-bg{
  height: 91vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: center;
  background-color: #E7D7C1;
  color: white;
}

.side-image {
  flex: 1;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%; 
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.side-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-page {
  height: 70%;
  width: 40%;
  padding: 20px;
  background-color: #8C1C13;
  border: 1px solid rgb(131, 125, 125);
  backdrop-filter: blur(10px);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-title{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.user-type{
  padding-left: 12px;
}

form{
  padding: 10px;
}

form label, input{
  padding: 5px;
}

.toregister{
  padding-top: 5px;
}

.toregister a{
  color: rgb(192, 192, 192);
}

.btn-styling{
  display: flex;
  justify-content: center;
  background-color:  #E09F3E;
  border-radius: 10px;
}

@media (max-width:480px){
  .side-image{
    display: none;
  }
  .login-bg{
    height: 70vh;
  }
  .login-page {
    height: 70%;
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 980px){
  .login-page {
    height: 60%;
    width: 70%;
  }
  .side-image{
    height: 60%;
  }
}

@media (min-width: 981px) and (max-width:1366px){
  .login-page {
    height: 50%;
    width: 50%;
  }
  .side-image{
    height: 50%;
  }
}